# Fichier d'environnement
.env

# Fichiers cache Python
__pycache__/
*.py[cod]

# Fichier système macOS
.DS_Store

# Environnement virtuel
venv/
env/
.venv/

# Dossiers cachés (commençant par un point), sauf .gitignore
.*
!.gitignore